.uploadButton {
    background-color: var(--action-color);
    color: #fff;
    position: relative; 
    padding: 6px 20px;
    font-size: 14px;
    margin: 22px 8px;
    //margin-left: -60px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: var(--inputRadius);
    height: var(--inputsMinHeight); 
    margin-bottom: 8px;
    input[type="file"] {
        pointer-events: initial;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        position: absolute;
    }
}
#upload-box {
    display: flex;
    width: 100%;
    //margin-top: 16px;
    .ms-TextField {
        width: 100%;
        pointer-events: none;
    }
}

.containerFileUpload {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 150px;
    width: 600px;;
  }
  .filetext {
    color: blue;
  }
  
  .containerFileUpload > p {
    font-size: 1rem;
  }
  
  .containerFileUpload > em {
    font-size: .8rem;
  }
  
  .dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    justify-content: center;
  }
  
  .dropzone:focus {
    border-color: var(--action-color);
  }
  .fileuploadcalss{
    //height: 100px;
  }
  div#sampledivmial label{
   height: 100px;
   margin-bottom: 8px;
  }
