:root {
  --primary-color: #345188;
  --primary-hover-color: rgba(22, 78, 226, 0.05);

  --bg-white: #fff;
  --bg-light-white: #f7f7f7;
  --text-white: #fff;

  --bg-dark: #222222;
  --text-dark: #222222;
  --text-dark-light: #444444fa;

  --border-color: #e0e0e0;
  --input-bg-color: #f0f0f0;

  --action-color: #164ee2;
  --action-bg: #164ee20d;
  --input-bg: #164ee20d;

  --label-color: #808080;

  --green-bg: #e3f7e3;
  --green-color: #68c53e;
  --error: rgb(164, 38, 44);
  --cancel-color-bg: #f3f6fe;
  --line-border-color: #22222214;
  --heading-color: #9a9a9afa;

  --inputRadius: 6px;
  --inputsMinHeight: 42px;

  --btn-radius: 8px;
  --light-white-bg: #fafafa;

  --info-color: #0836c10d;

  --success: #1cbc1f; 
  --denger: #e02020;
  --warning: #eb9d00;
  --inactive: #808080;
}
