.ms-BasePicker-text{
    background: var(--input-bg-color);
    border-radius:var(--inputRadius);
    border:0;
    min-height:var(--inputsMinHeight);
    .ms-PickerPersona-container{    margin: 4px 0;}
}